body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 0;
}

.controls {
    margin-bottom: 20px;
}

#model-container {
    width: 100%;
    height: 60%;
}
